<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AlumniManagment1</display-name>
  <welcome-file-list>
    <welcome-file>MainHome1.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>homeCotroler</display-name>
    <servlet-name>homeCotroler</servlet-name>
    <servlet-class>nit.com.controler.homeCotroler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeCotroler</servlet-name>
    <url-pattern>/homeCotroler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginControler</display-name>
    <servlet-name>AdminLoginControler</servlet-name>
    <servlet-class>nit.com.controler.AdminLoginControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginControler</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutControler</display-name>
    <servlet-name>LogOutControler</servlet-name>
    <servlet-class>nit.com.controler.LogOutControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutControler</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addAdminControler</display-name>
    <servlet-name>addAdminControler</servlet-name>
    <servlet-class>nit.com.controler.addAdminControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAdminControler</servlet-name>
    <url-pattern>/addAdminControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminImageController</display-name>
    <servlet-name>adminImageController</servlet-name>
    <servlet-class>nit.com.controler.adminImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminImageController</servlet-name>
    <url-pattern>/adminImage</url-pattern>
  </servlet-mapping>
</web-app>